.page {
  --back: #0a0a0a ;
  --frgrnd: #141414;
  --border: rgba(255,255,255,0.08);

  --text-pr: #fafafa ;
  --text-scnd: #737373 ;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  overflow-x: hidden;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--back);
  
}



@media (max-width: 600px) {
 body{
  max-width: 600px;
 }
 
}



